
html, body, #big {
    margin: 0;
    width: 100%;
    min-height: 100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002366+0,42567B+100;Grey+3D+%232 */
    background: #002366; /* Old browsers */
    /*
    background: -moz-radial-gradient(center, ellipse cover,  #002366 0%, #42567B 160%);
    background: -webkit-radial-gradient(center, ellipse cover,  #002366 0%,#42567B 160%);
    background: radial-gradient(ellipse at center,  #002366 0%,#42567B 160%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002366', endColorstr='#42567B',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    */
}

.img img {
    width: 100%;
}

#main-navigation ul li a:hover, #main-navigation ul li a:focus {
    color: #fff;
}

#main-navigation ul.language-select {
    margin-top: 10px;
}

#main-navigation ul.language-select li {
    padding-left: 30px;
    position: relative;
}

#main-navigation ul.language-select span {
    display: block;
    position: absolute;
    width: 20px;
    height: 100%;
    left: 0;
    border: 1px solid #bbb;
}

#googlemaps {
    background: white;
    padding: 6px 6px 5px 6px;
}
.collection-type-blog #innerWrapper section#content {
    background-color: #D9DADF;
    padding: 108px 0 0 0;
    margin-bottom: 100px;
}

#title-area .site-title {
    color: #D4AF37;
    min-height: 100px;
    margin: 0;
}

#title-area {
    min-height: 200px;
    padding: 90px 0 90px 0;
}

#title-area h1.site-title {
    color: #D4AF37;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 0px;
    font-size: 100px;
}

article.content h2 {
    font-family: 'Great Vibes', cursive;
    letter-spacing: 0px;
    text-transform: none;
    font-size: 22px;
}

article.content h1.title {
    font-family: 'Great Vibes', cursive;
}

@media (min-width: 350px) {
    body article.contact .split>div {
        width: 48%;
        float: right;
    }
    body article.contact .split>div:first-child {
        width: 48%;
        float: left;
    }
}

@media (max-width: 350px) {
    body article.contact .split>div {
        margin-top: 12px;
    }
    body article.contact .split>div:first-child {
        margin-top: 0px;
    }
}

article.contact .split:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

article.contact .split h3 {
    margin: 0;
}

article.contact .sqs-block-content>p.email {
    margin-bottom: 12px;
}

article.contact p.phone,
article.contact p.email {
    margin: 0;
}
article.contact p.phone i {
    margin-right: 3px;
}
article.contact p.email {
    text-align: left;
}

article.contact p.email.com:after {
    content: ".com"
}

article.contact p.email.se:after {
    content: ".se"
}

#schedule-timeline>div {
    float: left;
    width: 96px;
    font-size: 12px;
    font-family: "Lato";
}

#schedule-timeline>div .symbol {
    padding-right: 4px;
    padding-left: 3px;
    position: relative;
    width: 89px;
    height: 85px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

#schedule-timeline>div .symbol .dash {
    height: 5px;
    width: 1px;
    margin: 0 auto;
    background-color: black;
}
#schedule-timeline>div .symbol .picture {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#schedule-timeline>div#church .symbol .picture {
    background-image: url('images/rings.gif');
}
#schedule-timeline>div#mingle .symbol .picture {
    background-image: url('images/champagne.png');
}
#schedule-timeline>div#dinner .symbol .picture {
    background-image: url('images/dinner.png');
}
#schedule-timeline>div#dance .symbol .picture {
    background-image: url('images/waltz.png');
}
#schedule-timeline>div#party .symbol .picture {
    background-image: url('images/banana.gif');
}
#schedule-timeline>div#snack .symbol .picture {
    background-image: url('images/hotdog.gif');
}

#schedule-timeline>div .what {
    text-align: center;
}

#schedule-timeline>div .time {
    position: relative;
    text-align: center;
}
#schedule-timeline>div .time:before {
    content: "\f017";
    font-family: "FontAwesome";
    padding-right: 4px;
}

#schedule-timeline>div.clear {
    clear: both;
    float: none;
 }

div#foot {
    /*background-image: url('save-the-date.png');*/
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 200px;
}

div#foot .img {
    width: 300px;
    margin: 0 auto;
}
div#foot h2 {
    text-align: center;
    color: #D4AF37;
    margin-bottom: 40px;
}
