
html, body, #big {
    margin: 0;
    width: 100%;
    min-height: 100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002366+0,42567B+100;Grey+3D+%232 */
    background: #002366; /* Old browsers */
    /*
    background: -moz-radial-gradient(center, ellipse cover,  #002366 0%, #42567B 160%);
    background: -webkit-radial-gradient(center, ellipse cover,  #002366 0%,#42567B 160%);
    background: radial-gradient(ellipse at center,  #002366 0%,#42567B 160%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002366', endColorstr='#42567B',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    */
}

#main-navigation ul li a:hover, #main-navigation ul li a:focus {
    color: #fff;
}

#googlemaps {
    background: white;
    padding: 6px 6px 5px 6px;
}

div#foot {
    background-image: url('save-the-date.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

section#content {
    background-color: #D9DADF;
}

#title-area .site-title {
    color: #D4AF37;
}

article.contact .split>div {
    width: 48%;
    float: right;
}
article.contact .split>div:first-child {
    width: 48%;
    float: left;
}

article.contact .split:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

article.contact .split h3 {
    margin: 0;
}

article.contact p.phone,
article.contact p.email {
    margin: 0;
}
article.contact p.phone i {
    margin-right: 3px;
}
article.contact p.email {
    text-align: left;
}

article.contact p.email.com:after {
    content: ".com"
}

article.contact p.email.se:after {
    content: ".se"
}
